<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimal-ui, minimum-scale=1.0, maximum-scale=1.0, user-scalable=yes">
	<title>@ViewBag.Title | Thermo</title>
	@Styles.Render("~/Content/css")

	<link href="~/Content/ripples.min.css" rel="stylesheet" />
	<link href="~/Content/material-fullpalette.min.css" rel="stylesheet" />
	<link href="~/Content/roboto.min.css" rel="stylesheet" />
	<link href="~/Content/font-awesome.min.css" rel="stylesheet" />

	@Scripts.Render("~/bundles/jquery")
	@Scripts.Render("~/bundles/ajax")

	@Scripts.Render("~/bundles/modernizr")
	@Scripts.Render("~/bundles/global")

</head>
<body style="background-color: transparent">
<header>
	<div class="navbar navbar-inverse navbar-fixed-top">
		<div class="topLine"></div>
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-inverse-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				@Html.ActionLink("Thermo", "Index", new {controller = "Home"}, new {@class = "navbar-brand"})
			</div>
			<div class="navbar-collapse collapse navbar-inverse-collapse">
				@Html.Partial("_LoginPartial")
				<ul class="nav navbar-nav navbar-right">
					<li class="device">
						<a href="@Url.Action("Index", "Device")"><i class="mdi-device-devices menu-icon"></i> Devices</a>
					</li>
					<li class="graph">
						<a href="@Url.Action("Index", "Graph")"><i class="mdi-action-trending-up menu-icon"></i> Graphs</a>
					</li>
					<li class="profile">
						<a href="@Url.Action("Index", "Profile")"><i class="mdi-device-now-widgets menu-icon"></i> Profiles</a>
					</li>
				</ul>
			</div>
		</div> <!-- container end -->
	</div> <!-- Navbar end -->

</header>

<div class="container body-content">
	@RenderBody()
	@*<hr />
			<footer>
				<p>&copy; @DateTime.Now.ToLongDateString() - Portal for CS</p>
			</footer>*@
</div>
@Scripts.Render("~/bundles/bootstrap")

<script src="~/Scripts/ripples.min.js"></script>
<script src="~/Scripts/material.min.js"></script>
<script>
	$(document).ready(function() {
		$.material.init();

		var route = location.href.replace(location.origin, "").split("/")[1].toLowerCase();
		if (route !== "manage")
			$("." + route).attr("class", "active");
		else
			$(".loginLink").attr("class", "active");
	});
</script>

@RenderSection("scripts", false)
</body>
</html>